 @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #2596bb;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #21130d;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: #eeeee4;
    width: 500px;
    /* height: 400px; */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px #eeeee4,
                0 0 2px inset black;
}
.container input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    display: block;
    box-shadow: 0 0 10px black;
}
.weatherBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#weather{
    font-size: 2rem;

}
.weatherBox img{
    width: 100px;
}
#city{
    margin: 0px 0 0 0;
    font-size: 3rem;
}
#getWeather{
    width: 100%;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 0px;
    border-radius: 10px;
    background-color: #2596bb;
    color: white;
    font-weight: 800;
    border: none;
    margin: 10px 0 0 0;
}
